#myList li{ 
    display:none;
    font-size: 150%;
}

#organizer {
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

#game {
    position: static;
    width: 100%;
    height: 50%;
    left: 0%;
    top: 25%;
    bottom:0%;
}

.intro {
    margin-left: 25%;
    margin-right: 25%;
    display: block;
 
}

img {

    /* max-width:150px;
    max-height:150px;
    width: auto;
    height: auto; */
}

.row{
    margin-bottom:2%;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#e3f2fd !important;
}
.card.bg-success, .card.bg-success:hover, .card.bg-success:active, .card.bg-success:visited {
    background-color:#76cc78 !important;
}

.card.bg-danger, .card.bg-danger:hover, .card.bg-danger:active, .card.bg-danger:visited {
    background-color:#d85252 !important;
}

