<!-- ... header has the header -->
   
		{% include "header.html" %}

			<h1>One Image matches the descriptions</h1>
			<button type="button" id="loadMore" class="btn btn-info">Load More Descriptions</button>
			</div>


  <ul id="myList">
			{% if promptData[0] is defined %}
				<li>1. {{ promptData[0].description }}</li>
			{% endif %}
			{% if promptData[1] is defined %}
				<li>2. {{ promptData[1].description }}</li>
			{% endif %}
			{% if promptData[2] is defined %}
				<li>3. {{ promptData[2].description }}</li>
			{% endif %}
			{% if promptData[3] is defined %}
				<li>4. {{ promptData[3].description }}</li>
			{% endif %}
			{% if promptData[4] is defined %}
				<li>5. {{ promptData[4].description }}</li>
			{% endif %}
			{% if promptData[5] is defined %}
				<li>6. {{ promptData[5].description }}</li>
			{% endif %}
			{% if promptData[6] is defined %}
				<li>7. {{ promptData[6].description }}</li>
			{% endif %}
			{% if promptData[7] is defined %}
				<li>8. {{ promptData[7].description }}</li>
			{% endif %}
			{% if promptData[8] is defined %}
				<li>9. {{ promptData[8].description }}</li>
			{% endif %}
			{% if promptData[9] is defined %}
				<li>10. {{ promptData[9].description }}</li>
			{% endif %}
			{% if promptData[10] is defined %}
				<li>11. {{ promptData[10].description }}</li>
			{% endif %}
			{% if promptData[11] is defined %}
				<li>12. {{ promptData[11].description }}</li>
			{% endif %}
			{% if promptData[12] is defined %}
				<li>13. {{ promptData[12].description }}</li>
			{% endif %}
			{% if promptData[13] is defined %}
				<li>14. {{ promptData[13].description }}</li>
			{% endif %}
			{% if promptData[14] is defined %}
				<li>15 {{ promptData[14].description }}</li>
			{% endif %}
	</ul>

     <form method="post" action="{{ url_for('submitted_form') }}">
		<input hidden type="text"  name="label_data" value="{{promptData}}"></input>
		 <div class="row">
				<div class="col-sm">
				<button type="submit" class="btn btn-primary" name="image_name" value="{{images[0]}}"><img src={{images[0]}} class="img-fluid"></button>
				</div>
				<div class="col-sm">
					<button type="submit" class="btn btn-primary" name="image_name" value="{{images[1]}}"><img src={{images[1]}} class="img-fluid"></button>
				</div>
				<div class="col-sm">
					<button type="submit" class="btn btn-primary" name="image_name" value="{{images[2]}}"><img src={{images[2]}} class="img-fluid"></button>
				</div>
				<div class="col-sm">
					<button type="submit" class="btn btn-primary" name="image_name" value="{{images[3]}}"><img src={{images[3]}} class="img-fluid"></button>
				</div>
      </div>
		<div class="row">
				
				<div class="col-sm">
					<button type="submit" class="btn btn-primary" name="image_name" value="{{images[4]}}"><img src={{images[4]}} class="img-fluid"></button>
				</div>
				<div class="col-sm">
						<button type="submit" class="btn btn-primary" name="image_name" value="{{images[5]}}"><img src={{images[5]}} class="img-fluid"></button>
				</div>
				<div class="col-sm">
					<button type="submit" class="btn btn-primary" name="image_name" value="{{images[6]}}"><img src={{images[6]}} class="img-fluid"></button>
				</div>
				<div class="col-sm">
						<button type="submit" class="btn btn-primary" name="image_name" value="{{images[7]}}"><img src={{images[7]}} class="img-fluid"></button>
				</div>
		</div>
		<div class="row">
				
				<div class="col-sm">
						<button type="submit" class="btn btn-primary" name="image_name" value="{{images[8]}}"><img src={{images[8]}} class="img-fluid"></button>
				</div>
				<div class="col-sm">
					<button type="submit" class="btn btn-primary" name="image_name" value="{{images[9]}}"><img src={{images[9]}} class="img-fluid"></button>
			</div>
			<div class="col-sm">
				<button type="submit" class="btn btn-primary" name="image_name" value="{{images[10]}}"><img src={{images[10]}} class="img-fluid"></button>
			</div>
			<div class="col-sm">
				<button type="submit" class="btn btn-primary" name="image_name" value="{{images[11]}}"><img src={{images[11]}} class="img-fluid"></button>
			</div>
		</div>
	   <input hidden type="text" value={{correctAnswer}} name="correctAnswer"><br />
		 <!--<input type="submit"> -->
    	</form>
    </div>
  </body>
</html>
