<html>
  <head>
    <title>Home | Links</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> -->
		<script type="text/javascript" src="/static/scripts.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
	</head>
  <body>
      {% include "header.html" %}
      <!-- <div id="progressbar"></div> -->
      <div id="container-fluid">
        <div id="organizer">

          <form class="form-group" method="post" action="{{ url_for('hotdog') }}">
            <div class="form-group">
              <label for="site_url">Is this image a hot dog?</label>
              <input type="text" name="hotdog"><br />
            </div>
              <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </body>
</html>
