<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>

     <div id="main">
       <p>Thanks for your submission !</p>
       <p>Here's a review of the information that you sent:</p>
       <div style="font-size: 320%"> Your guess was {{successOrFailure}}! </div>
       you guessed <img src={{userGuess}}>

       	<table>
	  {% for Label in imgObject %}
	    <tr>
	      <td> {{ Label.description }}</td>
	    </tr>
	  {% endfor %}
	</table>
     </div>
   </div>
 </body>
</html>
