<!-- ... header has the header -->

      {% include "header.html" %}

  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
<div class="card" style="width: 18rem;">
    <img src={{userGuess}} class="card-img-top" alt="...">
    {% if successOrFailure == "Correct" %}
  <div class="card text-white bg-success"> 
    <div class="card-body">
      <h5 class="card-title">{{successOrFailure}}</h5>
    {% else %}
  <div class="card text-white bg-danger"> 
    <div class="card-body">
      <h5 class="card-title">{{successOrFailure}}</h5>
    {% endif %}
      <p class="card-text">
        Descriptions of this image:
        <ul>
			{% if imgObject[0] is defined %}
				<li>{{ imgObject[0].description }}</li>
			{% endif %}
			{% if imgObject[1] is defined %}
				<li>{{ imgObject[1].description }}</li>
			{% endif %}
			{% if imgObject[2] is defined %}
				<li>{{ imgObject[2].description }}</li>
			{% endif %}
			{% if imgObject[3] is defined %}
				<li>{{ imgObject[3].description }}</li>
			{% endif %}
			{% if imgObject[4] is defined %}
				<li>{{ imgObject[4].description }}</li>
			{% endif %}
			{% if imgObject[5] is defined %}
				<li>{{ imgObject[5].description }}</li>
			{% endif %}
			{% if imgObject[6] is defined %}
				<li>{{ imgObject[6].description }}</li>
			{% endif %}
			{% if imgObject[7] is defined %}
				<li>{{ imgObject[7].description }}</li>
			{% endif %}
			{% if imgObject[8] is defined %}
				<li>{{ imgObject[8].description }}</li>
			{% endif %}
			{% if imgObject[9] is defined %}
				<li>{{ imgObject[9].description }}</li>
			{% endif %}
			{% if imgObject[10] is defined %}
				<li>{{ imgObject[10].description }}</li>
			{% endif %}
			{% if imgObject[11] is defined %}
				<li>{{ imgObject[11].description }}</li>
			{% endif %}
			{% if imgObject[12] is defined %}
				<li>{{ imgObject[12].description }}</li>
			{% endif %}
			{% if imgObject[13] is defined %}
				<li>{{ imgObject[13].description }}</li>
			{% endif %}
			{% if imgObject[14] is defined %}
				<li>{{ imgObject[14].description }}</li>
			{% endif %}
	</ul>

      </p>
      <a href="/" class="btn btn-warning">Click Here to Play Again</a>
    </div>
	</div>
  </div>


</div>
    <div class="col-sm">
    </div>
  </div>
</div>




			</div>
</div>
</body>
</html>
