<!-- ... header has the header -->
        {% include "header.html" %}

            <form class="form-group" method="post" action="{{ url_for('tagging') }}">
                    <div class="form-group">
                        <label for="site_url">Tag the image</label>
                        <input type="text" class="form-control" id="userTag" name="usertag" placeholder="image tag"><br />
                        <input type="text" id="correctTag" name="correct" hidden value="{{imageToTag}}">
                    </div>
                    <input type="submit" id="myButton" class="btn btn-primary" value="submit" style="color:black;">
            </form>
            

            <hr>
            <img src={{imageToTag}} >
            <hr>
            {{usertag}}
            <div id="submitted"></div>


       </div>     
    </div>
  </body>
</html>
