{% include "header.html" %}

<img src={{lastImage}}> <br>
you said {{userInput}}
<hr>

the answers are...
{% if promptData[0] is defined %}
    <li>{{ promptData[0].description }}</li>
{% endif %}
{% if promptData[1] is defined %}
    <li>{{ promptData[1].description }}</li>
{% endif %}
{% if promptData[2] is defined %}
    <li>{{ promptData[2].description }}</li>
{% endif %}
{% if promptData[3] is defined %}
    <li>{{ promptData[3].description }}</li>
{% endif %}
{% if promptData[4] is defined %}
    <li>{{ promptData[4].description }}</li>
{% endif %}
{% if promptData[5] is defined %}
    <li>{{ promptData[5].description }}</li>
{% endif %}
{% if promptData[6] is defined %}
    <li>{{ promptData[6].description }}</li>
{% endif %}
{% if promptData[7] is defined %}
    <li>{{ promptData[7].description }}</li>
{% endif %}
{% if promptData[8] is defined %}
    <li>{{ promptData[8].description }}</li>
{% endif %}
{% if promptData[9] is defined %}
    <li>{{ promptData[9].description }}</li>
{% endif %}
{% if promptData[10] is defined %}
    <li>{{ promptData[10].description }}</li>
{% endif %}